@import '../variables/Variables.scss';

.wrapper-contact {
    display: flex;
    justify-content: center;
}


.contact-form {
    background-color: white;
    border-radius: 30px;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 280px;
    height: 400px;
    display: flex;
    justify-content: center;

    @media (min-width: 768px) {
        width: 400px;
    }
}

.contact-form p {
    color: #06D6A0;
    font-family: $regular;
    font-weight: 600;
    text-align: center;
    font-size: 15px;
}



  input {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom:30px; 
    font-size: 15px;
    border: none;
    width: 220px;
    padding-left:20px;
    border-radius: 10px;
    font-family: $regular;
    height: 30px;
    background-color: black;
    color: white;


    @media (min-width: 768px) {
        width: 320px;
    }
}

.message {
    height: 100px;
}



.wrap-btn button {
    border: none;
    background-color: #EF476F;
    color: white;
    border-radius:50px;
    margin-top:10px;
    width: 140px;
    height: 40px;
    font-family: $regular;
    font-weight: 600;
    text-align: center;
    font-size: 15px;
}

