@import '../variables/Variables.scss';


.footer-wrap {
    color: white;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 30px;
    font-family: $regular;

    @media (min-width: 425px) {
        font-size: 13px;
    }
    
    @media (min-width: 320px) {
        font-size: 10px;
    }
}

.footer-wrap a {
    color: white;
    font-weight: 800;
}

