@import '../variables/Variables.scss';

body {
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: $regular;
}


.navbar {
    width: 100%;
    height: 80px;
    background-color:black;
}

.logo {
    width: 80px;
    height: 80px;
    color:white; 
}


.wrapper { 
    display: flex;
    justify-content: center;
}

.links-wrapper {
    margin-top: 30px;
    margin-right: 5%;
    
    
}

.links-wrapper a {
    color: white;
    font-size: 15px;
    text-decoration: none;
    font-weight: 600;
    font-family: $regular;

    @media (min-width: 320px) {
       font-size: 15px;
       margin-left: 20px;
     }

     @media (min-width: 768px) {
        font-size: 15px;
        margin-left: 80px;
      }

      @media (min-width: 1024px) {
        font-size: 15px;
        margin-left: 120px;
      }

      @media (min-width: 1044px) {
        font-size: 15px;
        margin-left: 200px;
      }
}
